<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="common_head">


<!--
        CSS
        ============================================= -->
<link rel="stylesheet" href="../css/linearicons.css">
<link rel="stylesheet" href="../css/font-awesome.min.css">
<link rel="stylesheet" href="../css/bootstrap.css">
<link rel="stylesheet" href="../css/magnific-popup.css">
<link rel="stylesheet" href="../css/nice-select.css">
<link rel="stylesheet" href="../css/animate.min.css">
<link rel="stylesheet" href="../css/owl.carousel.css">
<link rel="stylesheet" href="../css/main.css">

<!--
  下拉框
-->
<link rel="stylesheet" type="text/css" href="../DropList/css/style.css" />
<noscript><link rel="stylesheet" type="text/css" href="../DropList/css/noJS.css" /></noscript>

<!--<link rel="stylesheet" type="text/css" href="../iview/css/iview.css" />-->
</div>
</body>
</html>